<div class="footer">
    <div class="footer__content">
        <div class="footer__content__terms">
            <p>Privacy Policy</p>
            <div class="line footer--lines"></div>
            <p>Terms of Use</p>
            <div class="line footer--lines"></div>
            <p>Cookie Policy</p>
        </div>
        <div class="footer__icons">
            <div class="footer__content__icons">
                <img src="../../../assets/images/footer/linkedin-icon.png" alt="" srcset="">
                <img src="../../../assets/images/footer/facobook-icon.png" alt="" srcset="">
                <img src="../../../assets/images/footer/twitter-icon.png" alt="" srcset="">
                <img src="../../../assets/images/footer/instagram-icon.png" alt="" srcset="">
            </div>
        </div>

        <div class="footer__content__copyright">
            <p>Copyright © 2022 - 23 Beinex</p>
        </div>
    </div>
</div>