$white: #ffff;
$purple: purple;
$dark-grey: rgba(0, 0, 0, .1);
$light-grey: #333;
$medium-grey: rgba(255, 255, 255, .2);
$light-blue: #080708;
$red: rgb(249, 38, 38);
$bright-red: red;
$line-bg: rgba(225, 225, 225, 0.2);